name: Immediate Auto Merge on PR to Main

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  auto-merge:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write
      checks: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Authenticate GitHub CLI
      - name: Authenticate gh
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      # Debug token
      - name: Debug GH auth
        run: gh auth status

      # Auto-merge PR
      - name: Auto-merge PR
        run: |
          gh pr merge ${{ github.event.pull_request.number }} \
            --merge \
            --auto \
            --delete-branch
